<cd-modal [modalRef]="activeModal">
  <ng-container class="modal-title" i18n>Raise an Issue</ng-container>

  <ng-container class="modal-content">
    <form name="feedbackForm" [formGroup]="feedbackForm" #formDir="ngForm">
      <div class="modal-body">
        <div class="form-group row">
          <label class="cd-col-form-label required" for="project" i18n>Project name</label>
          <div class="cd-col-form-input">
            <select class="form-control custom-select" id="project" formControlName="project">
              <option ngValue="" i18n>-- Select a project --</option>
              <option *ngFor="let projectName of project" [value]="projectName">{{ projectName }}</option>
            </select>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('project', formDir, 'required')" i18n>Project
              name is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="tracker" i18n>Tracker</label>
          <div class="cd-col-form-input">
            <select class="form-control custom-select" id="tracker" formControlName="tracker">
              <option ngValue="" i18n>-- Select a tracker --</option>
              <option *ngFor="let trackerName of tracker" [value]="trackerName">{{ trackerName }}</option>
            </select>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('tracker', formDir, 'required')" i18n>Tracker
              name is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="subject" i18n>Subject</label>
          <div class="cd-col-form-input">
            <input id="subject" type="text" formControlName="subject" class="form-control"
              placeholder="Add issue Title">
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('subject', formDir, 'required')" i18n>Subject
              is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="description" i18n>Description</label>
          <div class="cd-col-form-input">
            <textarea id="description" type="text" formControlName="description" class="form-control"
              placeholder="Add issue description">
            </textarea>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('description', formDir, 'required')"
              i18n>Description
              name is required.</span>
          </div>
        </div>
        <div>
          <cd-form-button-panel (submitActionEvent)="onSubmit()" [form]="feedbackForm"
            [submitText]="actionLabels.SUBMIT" wrappingClass="text-right">
          </cd-form-button-panel>
        </div>
      </div>
    </form>
  </ng-container>
</cd-modal>

<!-- <cd-modal [modalRef]="secondaryModal">
  <ng-container class="modal-title" i18n>Set Ceph Issue tracker</ng-container>

  <ng-container class="modal-content">
    <form name="feedbackForm" [formGroup]="feedbackForm" #formDir="ngForm">
      <div class="modal-body">
        <div class="form-group row">
          <label class="cd-col-form-label required" for="project" i18n>Project name</label>
          <div class="cd-col-form-input">
            <select class="form-control custom-select" id="project" formControlName="project">
              <option ngValue="" i18n>-- Select a project --</option>
              <option *ngFor="let projectName of project" [value]="projectName">{{ projectName }}</option>
            </select>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('project', formDir, 'required')" i18n>Project
              name is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="tracker" i18n>Tracker</label>
          <div class="cd-col-form-input">
            <select class="form-control custom-select" id="tracker" formControlName="tracker">
              <option ngValue="" i18n>-- Select a tracker --</option>
              <option *ngFor="let trackerName of tracker" [value]="trackerName">{{ trackerName }}</option>
            </select>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('tracker', formDir, 'required')" i18n>Tracker
              name is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="subject" i18n>Subject</label>
          <div class="cd-col-form-input">
            <input id="subject" type="text" formControlName="subject" class="form-control"
              placeholder="Add issue Title">
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('subject', formDir, 'required')" i18n>Subject
              is required.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="cd-col-form-label required" for="description" i18n>Description</label>
          <div class="cd-col-form-input">
            <textarea id="description" type="text" formControlName="description" class="form-control"
              placeholder="Add issue description">
            </textarea>
            <span class="invalid-feedback" *ngIf="feedbackForm.showError('description', formDir, 'required')"
              i18n>Description
              name is required.</span>
          </div>
        </div>
        <div>
          <cd-form-button-panel (submitActionEvent)="onSubmit()" [form]="feedbackForm"
            [submitText]="actionLabels.SUBMIT" wrappingClass="text-right">
          </cd-form-button-panel>
        </div>
      </div>
    </form>
  </ng-container>
</cd-modal> -->
